<main class="contents-section">
    <h2 class="heading my-5">Dashboard</h2>

    <div class="wrapper">
        <div class="input-section row">
            <div class="inp-wrap col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 my-sm-3 my-md-3 my-3">
                <input class="form-control" type="text" name="name" id="name" placeholder="Name">
            </div>
            <div class="inp-wrap col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 my-sm-3 my-md-3 my-3">
                <input class="form-control" type="number" name="bno" id="bno" placeholder="Batch No.">
            </div>
            <div class="inp-wrap col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 my-sm-3 my-md-3 my-3">
                <input class="form-control" type="text" name="desn" id="desn" placeholder="Designation">
            </div>
            <div class="inp-wrap col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 my-sm-3 my-md-3 my-3">
                <button class="btn" style="width: 100%;">Search</button>
            </div>
        </div>
        <div class="card-section my-5">
            <div class="card-wrapper row">
                <div class="cardsss col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <div class="card-holder">
                        <div class="card-avatar-sec">
                            <div class="back-avtar">
                                <i class="bi bi-person"></i>
                            </div>
                        </div>
                        <div class="content-section">
                            <div class="cart-title">
                                <h4 class="title">1000+</h4>
                            </div>
                            <div class="desc-sec">
                                <span>Total Registered Students</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cardsss col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <div class="card-holder">
                        <div class="card-avatar-sec">
                            <div class="back-avtar">
                                <i class="bi bi-person"></i>
                            </div>
                        </div>
                        <div class="content-section">
                            <div class="cart-title">
                                <h4 class="title">1000+</h4>
                            </div>
                            <div class="desc-sec">
                                <span>Total Registered Students</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cardsss col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <div class="card-holder">
                        <div class="card-avatar-sec">
                            <div class="back-avtar">
                                <i class="bi bi-person"></i>
                            </div>
                        </div>
                        <div class="content-section">
                            <div class="cart-title">
                                <h4 class="title">1000+</h4>
                            </div>
                            <div class="desc-sec">
                                <span>Total Registered Students</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cardsss col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <div class="card-holder">
                        <div class="card-avatar-sec">
                            <div class="back-avtar">
                                <i class="bi bi-person"></i>
                            </div>
                        </div>
                        <div class="content-section">
                            <div class="cart-title">
                                <h4 class="title">1000+</h4>
                            </div>
                            <div class="desc-sec">
                                <span>Total Registered Students</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cardsss col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <div class="card-holder">
                        <div class="card-avatar-sec">
                            <div class="back-avtar">
                                <i class="bi bi-person"></i>
                            </div>
                        </div>
                        <div class="content-section">
                            <div class="cart-title">
                                <h4 class="title">1000+</h4>
                            </div>
                            <div class="desc-sec">
                                <span>Total Registered Students</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cardsss col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <div class="card-holder">
                        <div class="card-avatar-sec">
                            <div class="back-avtar">
                                <i class="bi bi-person"></i>
                            </div>
                        </div>
                        <div class="content-section">
                            <div class="cart-title">
                                <h4 class="title">1000+</h4>
                            </div>
                            <div class="desc-sec">
                                <span>Total Registered Students</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
