<div class="sidebar">
    <div class="logo-header">
        <div class="logo">
            <img src="" alt="">
        </div>
    </div>
    <div class="user-section">
        <div class="avtar-sec">
            <div class="circles"></div>
        </div>
        <div class="user-info">
            <div class="username-sec">
                <span>Ashish Kumar</span>
            </div>
            <div class="user-role">
                <span>Admin</span>
            </div>
        </div>
    </div>
    <div class="navlink-section">
        <ul class="list">
            <li class="list-items">
                <a routerLink="home" class="active">
                    <i class="bi bi-house-door"></i>
                    <span class="link-name">Dashboard</span>
                </a>
            </li>
            <li class="list-items">
                <a routerLink="data" class="active">
                    <i class="bi bi-clipboard-data-fill"></i>
                    <span class="link-name">Data</span>
                </a>
            </li>
            <li class="list-items">
                <a href="#">
                    <i class="bi bi-file-earmark-break-fill"></i>
                    <span class="link-name">Approvals</span>
                </a>
            </li>
            <li class="list-items">
                <a href="#">
                    <i class="bi bi-person-lines-fill"></i>
                    <span class="link-name">Contact Us</span>
                </a>
            </li>
            <li class="list-items">
                <a href="#">
                    <i class="bi bi-people-fill"></i>
                    <span class="link-name">Members</span>
                </a>
            </li>
        </ul>
    </div>
</div>
